body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e22ed9, #13a0d8);
    color: #333; 
    font-family: Arial, sans-serif;
  }
  

.centered-content h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .centered-content p {
    text-align: center;
    max-width: 600px; 
    margin: 0 auto; /* Centers the paragraph in the div */
  }
  
  .centered-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px auto;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .centered-content button:hover {
    background-color: #0056b3;
  }
  
  .cards-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Spacing between cards */
    margin-top: 20px; /* Space above the cards */
  }
  .card {
    width: 300px; 
    text-align: center; /* Centers the content inside each card */
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Original shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
  }
  .card:hover {
    cursor: grab; 
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }
  
  
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h2 {
    margin-top: 10px;
  }
  
  .card p {
    margin-top: 10px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  }
  